// https://codepen.io/meodai/full/mEvZRx
// 変数名を (カラーの系統)-(カラー名) で定義する
// ex ）$purple-awkward-purple: #bf13cd;

$purple-awkward-purple: #bf13cd;

// black
$black: #000;
$black-dark-grey: #363636;

// grey
$grey: #808080;
$grey-cerebral-grey: #ccc;
$grey-boat-anchor: #6b6b6b;

// white
$white: #fff;
$white-dr-white: #fafafa;

// red
$red-communist: #c70000;

// blue

// yellow

// green
