{
  "extends": ["airbnb-base", "plugin:vue/recommended", "prettier"],
  "plugins": ["jquery", "vue"],
  "rules": {
    "prefer-template": "error",
    "vue/html-self-closing": [
      "error",
      {
        "html": {
          "void": "always",
          "normal": "always",
          "component": "always"
        },
        "svg": "always",
        "math": "always"
      }
    ],
    "operator-linebreak": [2, "after"],
    "import/no-unresolved": [2, { "ignore": ["^@components"] }],
    "vue/singleline-html-element-content-newline": "off",
    "vue/html-closing-bracket-newline": "off",
    "vue/max-attributes-per-line": "off",
    "vue/html-indent": "off"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 11,
    "sourceType": "module"
  }
}
