.post-page {
  display: flex;

  > .post {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 1rem;
  }

  > .post > .header {
    display: flex;
    margin-bottom: 2rem;
  }

  > .post > .header > .title {
    margin-right: auto;
    font-size: 1.8rem;
  }

  > .post > .header > .btn {
    margin-right: 2rem;
    margin-bottom: 1rem;
  }

  > .map {
    width: 50%;
  }
}
