.btn {
  padding: 0.6rem 0.8rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.btn:hover {
  filter: brightness(90%);
}

.btn.-red {
  color: white;
  background-color: rgb(253, 0, 97);
  border: none;
}

.btn.-white {
  color: rgb(70, 70, 70);
  background-color: white;
  border: 0.1rem solid $grey-cerebral-grey;
}

.btn.-blue {
  color: white;
  background-color: rgb(1, 126, 243);
}
